<ion-modal-view>
  <ion-header-bar class="bar-assertive-900">
    <h1 class="title">Logout</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-close" ng-click="closeLogout()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogout()">
      <div class="list">
<!--        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>-->
        <label class="item">
          <button class="button button-block button-assertive-900" type="submit">Log out</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
