<ion-view view-title="Projects">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="Pull to refresh..."
                   refreshing-text="Refreshing!"
                   refreshing-icon="ion-loading-b">
    </ion-refresher>
    <h3 class="padding-8px">Projects</h3>
    <ion-list>
      <ion-item ng-repeat="project in projects" href="#/agile/projects/{{project.id}}">
        {{project.name}}({{project.id}})
      </ion-item>
    </ion-list>
    <h3 class="padding-8px">进行中</h3>
    <ion-list>
      <ion-item ng-repeat="userstory in userstoriesInProgress" href="#/agile/userstories/{{userstory.id}}">{{userstory.subject}}({{userstory.id}})
      </ion-item>
      <ion-item ng-repeat="issue in issuesInProgress" href="#/agile/issue/{{issue.id}}">{{issue.subject}}({{issue.id}})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
