<ion-view view-title="{{userstory.subject}}">
  <ion-content>   
    <h3 class="padding">#{{userstory.ref}} <span ng-if="!isEditSubject">{{userstory.subject}} </span>
      <input type="text" ng-if="isEditSubject" class="editSubject" placeholder="新标题" ng-model="subject" ng-change="changeSubject(subject)">
      <i class="ion-edit pull-right editIcon" ng-if="!isEditSubject" ng-click="editSubject()"></i>
      <i class="ion-checkmark-round pull-right editIcon" ng-if="isEditSubject" ng-click="confirmSubject()"></i>
      <i class="ion-close-round pull-right editIcon" ng-if="isEditSubject" ng-click="cancelSubject()"></i>
    </h3>
    <div class="item item-avatar">
      <img src="{{userstory.assigned_to_extra_info.photo | photoFilter}}">
      <P>创建人：{{userstory.owner_extra_info.full_name_display}} 指派给：{{userstory.assigned_to_extra_info.full_name_display | isAssignedFilter}} <span><a ng-click="openPopoverAssigned($event)"><i class="ion-person balanced" style="padding: 6px 12px;"></i></a></span></P>
      <p>创建时间：{{userstory.created_date}}</p>
      <P>修改时间：{{userstory.modified_date}}</P>
    </div>
    <div class="list">
      <div class="item row">
        <button class="col-33 button button-stable" style="background-color: {{userstory.status_extra_info.color}}; color: #fff;" ng-click="openPopoverChangeStatus($event)">
          {{userstory.status_extra_info.name}}
        </button>
        <button class="col-33 button button-calm" ng-click="openPopoverChangePoints($event)">
          {{userstory.total_points || "0"}} points
        </button>
        <button class="col-33 button button-assertive" ng-click="delete()">
          删除
        </button>
      </div>
      <div class="item row">
        <button class="col-33 button button-positive" ng-click="teamRequirementToggle()">
          团队要求 <i class="ion-checkmark" ng-show="userstory.team_requirement"></i>
        </button>
        <button class="col-33 button button-energized" ng-click="clientRequirementToggle()">
          客户要求 <i class="ion-checkmark" ng-show="userstory.client_requirement"></i>
        </button>
        <button class="col-33 button button-dark" ng-click="lockToggle()">
          封锁 <i class="ion-checkmark" ng-show="userstory.is_blocked"></i>
        </button>
      </div>
    </div>
    <div class="padding">
      <i class="ion-edit pull-right editIcon" ng-if="!isEditDescription" ng-click="editDescription()"></i>
      <i class="ion-checkmark-round pull-right editIcon" ng-if="isEditDescription" ng-click="confirmDescription()"></i>
      <i class="ion-close-round pull-right editIcon" ng-if="isEditDescription" ng-click="cancelDescription()"></i>
      <textarea rows="8" width="100%" placeholder="任务描述" ng-if="isEditDescription" ng-model="description" ng-change="changeDescription(description)"></textarea>
    </div>
    <div class="padding" ng-bind-html="userstory.description_html" ng-if="!isEditDescription"></div>
  </ion-content>
</ion-view>

<script id="my-popover-changePoints.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h2 class="title">Change Points</h1>
    </ion-header-bar>
    <ion-content>
      <div class="item row">
        <select style="width: 100%" ng-model="roleId" ng-change="changeRoleId(roleId)">
          <option value="" disabled="">选择角色</option>
          <option ng-repeat="role in project.roles" ng-if="role.computable" value="{{role.id}}">{{role.name}} ({{role.id | rolePointsFilter}} points)</option>
        </select>
      </div>
      <div class="point">
        <button class="col-33 button button-dark" ng-repeat="point in project.points" ng-click="changePoints({{point.id}})">{{point.name}}</button>
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="my-popover-changeStatus.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h2 class="title">Change Status</h1>
    </ion-header-bar>
    <ion-content>
      <div class="item" ng-repeat="status in project.us_statuses" style="color: {{status.color}}" ng-click="changeStatus({{status.id}})">{{status.name}}</div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="my-popover-assigned.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h2 class="title">Assigned To</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-avatar item-icon-right" ng-repeat="member in project.members" ng-click=assigned({{member.id}})>
          <img ng-src="{{member.photo | photoFilter}}">
          <h2>{{member.full_name_display}}</h2>
          <p><span class="ion-pricetag"></span>{{member.role_name}}</p>
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
